/* Article */
#article-images {
    float: left;
    margin: 0 1em 0 0;
    width: 45%;
}
#article-text {
    clear: both;
    padding: 1em 0;
}
/* Related articles */
#related-articles {
    border-top: 2px solid #CCCCCC;
    padding: 3em 0 0;
    width: 90%;
}
#related-articles p {
    margin: 0 0 1em;
}
#related-articles article {
    display: inline-block;
    width: 21%;
    margin: 0 3% 0 0;
    vertical-align: top;
}
#related-articles article img {
    width: 100%;
}
#related-articles article h1 {
    font-size: 0.9em;
    line-height: 1.2em;
    margin: 0.5em 0 0;
}
#related-articles article h1 a {
    color: #333333;
    font-weight: normal;
}
#related-articles article p {
    color: #CA2464;
    font-size: 1.2em;
}
/* Add To Cart */
section#add-to-cart {
  color: #666666;
  line-height: 1.2em;
}


/* Stock */
section#add-and-subtract-stock {
    margin: 0 0 1em;
}
section#add-and-subtract-stock form {
    display: inline-block;
    margin: 0 1em 0 0;
}
section#collective-cart-shopping-stock-list form button,
section#collective-cart-shopping-order-list form button {
    font-size: 80%;
}

/* Orders */
#content section#collective-cart-shopping-order dt span {
  background: #E3E3E3;
  border-radius: 0.5em;
  color: #0084A7;
  padding: 0.25em 0.5em;
}
#content section#collective-cart-shopping-order dd {
  margin: 0 2em 1em;
}
section#collective-cart-shopping-order section#cart-articles td {
  vertical-align: top;
}
section#collective-cart-shopping-order section#addresses dl {
    display: inline-block;
}
section#collective-cart-shopping-order section#addresses dt {
    color: #0084A7;
}

/* Billing and shipping */
section#customer-info p#billing-and-shipping-same-or-different {
  border-bottom: 1px solid #CCCCCC;
}

@media screen and (max-width: 800px) {
    #related-articles article {
    width: 44%;
    margin: 0 3% 0 0;
    }
}
@media screen and (max-width: 400px) {
    #related-articles article {
    width: 100%;
    }
}