input[type="radio"] {
  vertical-align: middle;
}

/* Article */
#article-images {
    float: left;
    margin: 0 1em 0 0;
    width: 45%;
}
#article-body-text {
    clear: both;
    padding: 1em 0;
}
#form-widgets-related_articles {
    display: block;
    max-height: 20em;
    overflow-y: scroll;
}

/* Related articles */
#related-articles {
    border-top: 2px solid #CCCCCC;
    padding: 3em 0 0;
    width: 90%;
}
#related-articles p {
    margin: 0 0 1em;
}
#related-articles article {
    display: inline-block;
    width: 21%;
    margin: 0 3% 0 0;
    vertical-align: top;
}
#related-articles article img {
    width: 100%;
}
#related-articles article h1 {
    font-size: 0.9em;
    line-height: 1.2em;
    margin: 0.5em 0 0;
}
#related-articles article h1 a {
    color: #333333;
    font-weight: normal;
}
#related-articles article p {
    color: #CA2464;
    font-size: 1.2em;
}
/* Add To Cart */
section#add-to-cart {
  color: #666666;
  line-height: 1.2em;
}

/* Stock */
section#add-subtract-stock > section {
  display: inline-block;
}

/* Orders */
#order-listing dt span {
  background: #E3E3E3;
  border-radius: 0.5em;
  color: #0084A7;
  padding: 0.25em 0.5em;
}
#order-listing > dl > dd {
  margin: 1em 2em;
}
.template-order-confirmation #content-core section,
#order-listing > dl > dd > section {
  padding: 1em 0;
}

.template-order-confirmation #content-core .gross,
.template-order-confirmation #content-core .vat-rate {
  padding: 0;
}

#article-listing {
  border-bottom: 2px solid #CCCCCC;
}

#article-listing article {
  clear: both;
  display: table;
  margin-bottom: 0.5em;
}
#article-listing article > section {
  display: table-cell;
  vertical-align: top;
}
#article-listing .image {
  width: 20%;
}
#article-listing .image img {
  width: 100%;
}
#article-listing .title-and-description {
  width: 60%;
}
#article-listing .gross-and-vat-rate {
  width: 20%;
}
#article-listing .title-and-description,
#article-listing .gross-and-vat-rate {
  padding: 0.5em 0 0 1em;
}
#article-listing .title-and-description dt {
  font-size: 1.25em;
  font-weight: normal;
  margin-bottom: 0.1em;
}

#article-listing .title-and-description dt,
#article-listing .title-and-description dt a {
  color: #575757;
}
#article-listing .title-and-description dd {
  font-size: 1.1em;
  margin: 0;
}
.vat-rate {
  color: #A7A7A7;
  font-size: 80%;
}
#shipping-method {
  border-bottom: 4px solid #666666;
}
.title {
  color: #333333;
  font-weight: bold;
  margin-right: 1em;
}
#total {
  font-size: 150%;
  text-align: right;
}
#order-listing #addresses dl {
  display: inline-block;
  margin-right: 2em;
}
#order-listing #addresses .name,
#order-listing #addresses .location,
#order-listing #addresses .phone,
#order-listing #addresses .email {
  display: block;
}

/* Check out flow */

#check-out-flow {
  font-size: 120%;
}

#check-out-flow,
#check-out-flow li a:link,
#check-out-flow li a:visited,
#check-out-flow li:after {
  border-bottom: none;
  color: #A7A7A7;
}

#check-out-flow .current-step {
  color: #575757;
}

#check-out-flow li:before {
  counter-increment: step;
  content:counter(step) ".";
  margin-right: 0.3em;
}

#check-out-flow li:after {
  content: "-";
  margin: 0 1em;
}

#check-out-flow li:last-of-type:after {
  content: "";
}


#check-out-flow ul {
  counter-reset: step;
  margin: 0 0 1em;
}

#check-out-flow li {
  display: inline-block;
}


/* Cart */

.gross {
  display: inline-block;
}

/* Billing and shipping */
section#customer-info section#billing-and-shipping-same-or-different select {
  font-size: 80%;
}
section#customer-info section#shipping-address {
  display: none;
}
section#customer-info section#shipping-address span {
  display: none;
}
section#customer-info section#shipping-methods {
  margin: 1em 0;
}

#shipping-address {
  display: none;
}

/* Order confirmation */

p#processing_message {
  background-color: #FFFFE3;
  border: 1px solid #999966;
  border-radius: 5px;
  clear: both;
  display: none;
  padding: 1em;
}

@media screen and (max-width: 800px) {
    #related-articles article {
    width: 44%;
    margin: 0 3% 0 0;
    }
}
@media screen and (max-width: 400px) {
    #related-articles article {
    width: 100%;
    }
}